<template>
  <ion-page>
    <ion-content :fullscreen="true">
      <div id="container">
        <ion-card mode="md">
          <form @submit.prevent="login()">
            <ion-card-header>
              <h5>Ingreso al sistema</h5>
            </ion-card-header>
            <ion-card-content>
              <ion-item>
                <ion-label position="floating">Usuario</ion-label>
                <ion-input type="text" v-model="form.usuario"></ion-input>
                <!-- <ion-text color="danger" class="error-msg" v-for="(error, index) of v$.form.usuario.$errors" :key="index">
                  {{ error.$message }}
                </ion-text> -->
              </ion-item>
              <ion-item>
                <ion-label position="floating">Contraseña</ion-label>
                <ion-input type="password" v-model="form.password"></ion-input>
              </ion-item>
            </ion-card-content>
            <ion-card-content>
              <ion-button type="submit" expand="block">Ingresar</ion-button>
            </ion-card-content>
          </form>
        </ion-card>
      </div>
    </ion-content>
  </ion-page>
</template>

<script>
import { IonContent, IonPage, IonLabel, IonInput, IonCard, IonCardHeader, IonCardContent, IonItem, IonButton } from '@ionic/vue';
import { ref } from 'vue';

export default {
  name: 'Folder',
  components: {
    IonContent,
    IonPage,
    IonLabel,
    IonInput,
    IonCard,
    IonCardHeader,
    IonCardContent,
    IonItem,
    IonButton
  },
  setup () {
    // Variables
    const form = ref({
      usuario: '',
      password: ''
    });

    // Métodos y funciones
    const login = () => {
      console.log(`Login: ${form.value.usuario}, ${form.value.password}`)
    }

    return {
      form,
      login
    }
  }
}
</script>

<style scoped>
#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.error-msg {
  color: red;
  font-size: 12px;
}
</style>